*{
    box-sizing: border-box;
  }
  html,body,main,header,ul,ol,a,h1,p,figure,img,figcaption{
    margin: 0;
    padding: 0;
  }
  html,body{
    height: 100%;
  }
  header{
    display: flex;
    font-size: 8px;
    line-height: 5%;
    box-sizing: border-box;
    background-color:#ffe5cb;
    padding: 10px;
    justify-content: flex-end;
  }
  .Encabezado{
    display: flex;
    gap: 10px;
  }
  a{
    text-decoration: none; 
    color:black;
  }
  .TituloEM{
    display: flex;
    justify-content: center;
    font-size: 10px;
    padding: 10px
  }
  .InfoEM{
    display: flex;
    justify-content: space-between;
  }
  .InfoEM a{
    display: flex;
  }
  .InfoEM div{
    font-size: 10px;
  }
  .InfoEM img{
    width: 130px;
    height: 70px;
  }
  form{
    margin-left: 25px;
  }
  .BusquedaEM {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  input[type="text"] {
    width: 40%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  input[type="submit"] {
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  .Contenedor_Listas_EM{
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    gap: 30px;
  }
  .Contenedor_Listas_EM h4{
    font-size: 10px;
    margin-bottom: 5px;
  }
  .Contenedor_Listas_EM ul{
    font-size: 10px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  .footer-links,
  .contact-info {
    flex: 1;
    margin: 0 10px;
  }
  .footer-links, .contact-info{
    display: flex;
    flex-direction: column;
  }