figure img {
    max-width: 100%;
    height: auto;
}
.galleriaSN {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.big-imgSN, .small-imgSN {
    box-sizing: border-box;
    width: 48%;
    margin-bottom: 20px;
}
.big-imgSN img, .small-imgSN img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 767px) {
    .galleriaSN {
        flex-direction: column;
    }
    .big-imgSN, .small-imgSN {
        width: 100%;
        margin: 0;
    }
}
.big-imgSN img,
.small-imgSN img {
    max-width: 100%;
    height: auto;
    display: block;
}
.image-container {
    position: relative;
    display:flex;
    flex-wrap: wrap;
}
.image-container img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}
.image-container figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    font-size: 18px;
}
.image-container:hover img {
    opacity: 0.3;
}
.image-container:hover figcaption {
    opacity: 1;
}
